@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == "string",
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
             + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

@mixin style-scrollbar($face-color, $bg-color) {
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  &::-webkit-scrollbar-thumb {
    background: $face-color;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: $bg-color;
  }

  & {
    scrollbar-color: $face-color $bg-color !important;
    scrollbar-width: thin !important;
  }
}
