button {
  padding: 5px 12px;
  border-radius: 7px;
  border-style: solid;
  border-color: transparent;
  width: max-content;
  height: max-content;
  cursor: pointer;

  &:disabled {
    cursor: no-drop;
  }

  &.primary {
    background-color: $color-blue;
    color: white;
  }
}
